.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.order-matched {
  background-color: rgba(0, 0, 255, 0.385);
}

th,
td,
input,
label {
  font-size: 0.8rem !important;
  white-space: nowrap;
}

.navbar {
  --bs-navbar-brand-color: white;
  background-color: rgb(255, 65, 65);
  font-weight: bold;
  --bs-navbar-brand-font-size: 1.5rem;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
